<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>aone</string>
	<key>Builder Version</key>
	<string>11603.2.5</string>
	<key>CFBundleDisplayName</key>
	<string>You30fps</string>
	<key>CFBundleIdentifier</key>
	<string>com.aone.you30fps</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>Chrome</key>
	<dict>
		<key>Toolbar Items</key>
		<array>
			<dict>
				<key>Command</key>
				<string>click</string>
				<key>Identifier</key>
				<string>you30fps</string>
				<key>Image</key>
				<string>icon_16x16.png</string>
				<key>Include By Default</key>
				<true/>
				<key>Label</key>
				<string>You30fps</string>
			</dict>
		</array>
	</dict>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>Start</key>
			<array>
				<string>start.js</string>
			</array>
		</dict>
		<key>Stylesheets</key>
		<array>
			<string>style.css</string>
		</array>
	</dict>
	<key>Description</key>
	<string>Force YouTube to play videos on 30fps</string>
	<key>DeveloperIdentifier</key>
	<string>4FG648TM2A</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>All</string>
		</dict>
	</dict>
</dict>
</plist>
